body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .navbar .logo {
    font-size: 35px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
  }
  
  .container {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  h2 {
    padding-left: 22%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .form-group i {
    margin-left: 10px;
  }
  
  .form-control {
    width: 70%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea.form-control {
    height: 100px;
  }
  
  button.btn {
    display: inline-block;
    padding: 13px 3px 21px 9px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    padding-right: 10px;
  }
  
  button.btn:hover {
    background-color: #0056b3;
  }    
  